@using MinecraftLayoutEditor.Logic
@using static MinecraftLayoutEditor.Logic.Layout

<h3>Layout Settings</h3>

<div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" @bind="Name" @bind:after="OnNameChanged"/>
</div>

<!-- Width -->
<div class="form-group">
    <label for="width">Width</label>
    <input type="number" id="width" class="form-control" @bind="Width" @bind:after="OnWidthChanged"/>
</div>

<!-- Height -->
<div class="form-group">
    <label for="height">Height</label>
    <input type="number" id="height" class="form-control" @bind="Height" @bind:after="OnHeightChanged"/>
</div>

<!-- Mirror -->
<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="mirrorEnabled"
           @bind="MirrorEnabled" @bind:after="OnMirrorEnabledChanged"/>
    <label class="form-check-label" for="mirrorEnabled">
        Enable mirroring
    </label>
</div>

<!-- MirrorAxis -->
<div class="form-group">
    <input type="checkbox" class="form-check-input" id="isHorizontal"
           @bind="IsHorizontal" @bind:after="OnIsHorizontalChanged" disabled="@(!MirrorEnabled)"/>
    <label class="form-check-label" for="isHorizontal">
        Horizontal mirroring
    </label>
</div>

<!-- RotationDeg -->
<div class="form-group">
    <label for="rotation">Rotation (deg)</label>
    <select id="rotation" class="form-control"
            @bind="RotationDeg" @bind:after="OnRotationDegChanged"
            disabled="@(!MirrorEnabled)">
        <option value="0">0°</option>
        <option value="180">180°</option>
    </select>
</div>

<!-- Selected Node Type -->
<div class="form-group">
    <label for="selectedNodeType">Node type</label>
    <select id="selectedNodeType" class="form-control"
                 @bind="SelectedNodeType" @bind:after="OnSelectedNodeTypeChanged">
        <option value="@Node.NodeType.Undefined">Undefined</option>
        <option value="@Node.NodeType.Wool">Wool</option>
        <option value="@Node.NodeType.Spawn">Spawn</option>
    </select>
</div>